* {
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color:aquamarine ;
    text-align: center;
}

.tabula {
    color: brown;
}

h2 {
    font-weight: 600;
}
.attels {
    width: 250px;
}

.card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    border: 2px solid black;
    margin: 24px 0 24px 0;
}

h1 {
    font-size: 36px;
    border: 2px solid purple;
    border-radius: 50px;
    background-color: pink;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.btn-iesniegt {
    transition-duration: 0.4s;
}
.btn-iesniegt:hover {
    background-color: chartreuse;
    color: white;
}

a:hover {
  background-color: orangered;
  font-size: 40px;
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
    }
}
